<article id="employee" class="employee">

<header>
	<h1>Editing Employee: <%= link_to "#{@employee.first_name} #{@employee.middle_name} #{@employee.last_name}", employee_path(@employee) %></h1>
</header>

<% if current_employee_admin? %>
	<%= render "employee_form_admin", object: @employee %>
<% else %>
	<%= render "employee_form" %>
<% end %>

</article>