<aside id="sidebar">
	<nav>
		<ul>
			<li>
				<%= link_to 'All Employees', employees_path, class: 'button' %>
			</li>
			<li>
				<%= link_to 'Add New Employee', new_employee_path, class: 'button' %>
			</li>
			<li>
				<%= link_to 'Job Types', job_types_path, class: 'button' %>
			</li>
		</ul>
	</nav>
</aside>