<aside id="sidebar">
	<nav>
		<ul>
			<% if current_employee_admin? %>
			<li>
				<%= link_to 'All Employees', unit_employees_path(@unit), class: 'button' %>
			</li>
			<li>
				<%= link_to 'Add New Employee', new_unit_employee_path(@unit), class: 'button' %>
			</li>
			<li>
				<%= link_to 'Job Types', unit_job_types_path(@unit), class: 'button' %>
			</li>
			<% end %>
		</ul>
	</nav>
</aside>